@media (min-width:768px) {

    .fondo {
        position: absolute;
        top: 0;
        left: -80px;
        width: 420px;
        height: 80vh;
        border-radius: 0 0 180px 180px;

    }

    body main {
       flex-direction: row;
        height: 100vh;
        justify-content: center;
        align-items: center;
        position: fixed;
    }  

    .movil--container {
        margin: 0;
    }
    
    .copy {
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-left: 40px;
        
    }

    .copy h1 {
        text-align: left;
        margin: 30px 30px 0 30px;
    }

    .copy p {
        text-align: left;
        line-height: 2.8rem;
        
    }

    .fondo2 {
        width: 420px;
        height: 70%;
        position: absolute;
        background-color: var(--pale-violet);
        opacity: 10%;
        border-radius: 200px 200px 0 0;
        bottom: 0;
        right: -40px;
    }
}