:root {
    /* Text colors */

--pale-violet: hsl(276, 100%, 81%);
--moderate-violet: hsl(276, 55%, 52%);
--desaturate-pale: hsl(271, 15%, 43%);
--grayish-blue: hsl(206, 6%, 79%);
--desaturate-dark: hsl(271, 36%, 24%);
--dark-greyish: hsl(270, 7%, 64%);

/*Background gradientr*/

--magenta: #e942ff;
--violet: #8838ff;

/*Secondary*/

--white: hsl(0, 0%, 100%);
--grayish-violet: hsl(270, 20%, 96%);
--very-dark-violet: hsl(271, 36%, 24%);
--light-magenta: hsl(289, 100%, 72%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body main {
    background-color: var(--grayish-violet);
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    height: 100%;
    display: flow-root;
}

.fondo {
    width: 187px;
    height: 500px;
    background: linear-gradient(180deg, rgba(233,66,255,1) 0%, rgba(162,59,255,1) 12%, rgba(136,56,255,1) 100%);
    border-radius: 0 0 290px 0;
    z-index: 1;
    position: fixed;
}

.movil--container {
    width: 260px;
    height: auto;
    padding: 0 auto;
    position: relative;
    z-index: 2;
    margin: 60px auto;
    
    
}

.movil {
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    box-shadow: 2px 1px 30px var(--dark-greyish);
}

.movil--screen {
display: block;
    width: 100%;
    height: 100%;
    background-color: var(--grayish-violet);
    border-radius: 25px;
    padding-bottom: 3px;

}

.movil--offset {
    width: 120px;
    height: 30px;
    margin: 0 auto;
    background-color: var(--white);
    position: absolute;
    border-radius: 20px;
    left: calc(50% - 50px)
}

.movil--header {
    width: 100%;
    height: 80px;
    background: rgb(233,66,255);
background: linear-gradient(270deg, rgba(233,66,255,1) 0%, rgba(162,59,255,1) 42%, rgba(136,56,255,1) 100%);
border-radius: 20px 20px 5px 5px;
display: flex;
justify-content: end;

}

.chat-user {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    margin-top: 35px;
    
   

}

.chat-user h4 {
    color: var(--grayish-violet);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}

.chat-user span {
    align-items: center;
}

.user-options {
    width: 10px;
   place-items: center;
   margin-left: 60px;
   margin-top: 10px;
    
}

.user-options p {
    color: var(--grayish-violet);
    margin: 0;
    transform: rotate(90deg);
    font-size: 1.2rem;
   

}

.user-pic {
    width: 35px;
    height: 35px;
    border: 3px solid rgb(255, 255, 255, 70%);
    background-image: url(./images/avatar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    

    
}

.user-name {
    display: inline-block;
    height: inherit;
    padding-left: 10px;
    line-height: 1.6rem;
   
}

.user-name h2 {
    font-size: 1.2rem;
   color: var(--grayish-violet);
   font-weight: 700;

}

.user-name h3 {
    font-size: 1rem;
    color: var(--grayish-blue);
    font-weight: 400;
}

.movil--talk1 {
    width: 70%;
    height: auto;
    padding: 10px;
    margin: 10px 0 0 5px;
    background-color: #eddff6;
    color: var(--moderate-violet);
    border-radius: 15px 15px 15px 0;
    display: flex;
    place-content: center;
    font-size: 1rem;
    

}

.movil--price {
    width: 70%;
    height: auto;
    padding: 10px;
    margin: 10px 0 0 5px;
    background: rgb(233,66,255);
background: linear-gradient(94deg, rgba(233,66,255,1) 0%, rgba(162,59,255,1) 39%, rgba(136,56,255,1) 100%);
    color: var(--white);
    border-radius: 10px 10px 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    font-size: 0.8rem;
    

}

.movil--pics {
    display: inline-block;
    margin: 10px 0 0 80px;
}

.movil--pics img {
    width: 40px;
    margin: 5px;
    border-radius: 10px;

}

.movil--talk2 {
    width: 50%;
    height: auto;
    padding: 10px;
    margin: 5px 0 0 110px;
    background-color: var(--white);
    color: var(--dark-greyish);
    border-radius: 15px 15px 0 15px;
    font-size: 1rem;


}

.movil--price span {
    width: 12px;
    height: 12px;
    background-color: rgb(233, 66, 255, 0.2%);
    border: 1px dotted rgb(251, 195, 255);
    border-radius: 50%;
    margin-right: 8px;
}

.price {
    font-weight: 700;
    font-size: 1.4rem;
    align-self: right;
    margin-left: auto;

    
}

.movil--write {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 40px;
    background-color: var(--white);
    border-radius: 20px;
    margin: 10px auto 5px auto;
    align-items: center;
    justify-content: space-between;
}

.placeholder {
    margin-left: 15px;
    font-size: 0.9rem;
    color: var(--dark-greyish);
}

.movil--write span {
    display: flex;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-color: var(--very-dark-violet);
    
    border-radius: 50%;

}

.movil--write h4 {
    text-align: center;
    width: 100%;
    color: var(--white);
    font-size: 2.2rem;
}

.copy  h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--very-dark-violet);
    text-align: center;
    margin-bottom: 20px;
}

.copy p {
    font-size: 1.6rem;
    margin: 30px;
    text-align: center;
    color: var(--dark-greyish);
    line-height: 2.4rem;
    
}





